.navbar {
    padding: 10px 2rem;
    height: 70px;
    color: #fff;
}

.navContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 50px;
        height: 50px;
    }
}

.navLinks {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2em;

    li {
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
    }
}
