@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  background: #030303;
}

.glass-back {
  background: radial-gradient(107.32% 141.42% at 0% 0%, );
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px);
}

.custom-shadow {
  transition: all 0.3s;
  box-shadow: 4px 4px 0 0 rgb(189, 189, 189);
}
.custom-shadow:hover {
  box-shadow: -4px -4px 0 0 rgb(189, 189, 189);
}

.underline-hover::after {
  position: absolute;
  margin-top: 4px;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: #b38813;
  transition: width 0.3s;
}

.underline-hover:hover::after {
  width: 100%;
}
